<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataCollectorConfiguration" type="Microsoft.VisualStudio.TestTools.Execution.DataCollectorConfigurationSection, Microsoft.VisualStudio.QualityTools.ExecutionCommon, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a "/>
  </configSections>
  <DataCollectorConfiguration xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
    <DataCollector typeUri="datacollector://Microsoft/ActionLog/1.0">
      <DefaultConfiguration>
        <Settings RecordThinkTimeChecked="false" xmlns="">
          <ThinkTimeMultiplier>1</ThinkTimeMultiplier>
          <ThinkTimeThreshold>10</ThinkTimeThreshold>
          <DelayBetweenMultiplier>0.1</DelayBetweenMultiplier>
          <Timeout>120</Timeout>
        </Settings>
        <ApplicationUnderTest SelectedAUT="false" AllAUT="true" CaptureLaunch="false" xmlns="">
          <ExcludeList>
            <Application>winword.exe</Application>
            <Application>outlook.exe</Application>
            <Application>excel.exe</Application>
            <Application>infopath.exe</Application>
            <Application>onenote.exe</Application>
            <Application>msaccess.exe</Application>
            <Application>groove.exe</Application>
            <Application>communicator.exe</Application>
            <Application>leviewer.exe</Application>
            <Application>mstsc.exe</Application>
            <Application>TabTip.exe</Application>
            <Application>mtm.exe</Application>

            <!-- Microsoft Office Picture Manager -->
            <Application>ois.exe</Application>
            <!-- Microsoft Paint -->
            <Application>mspaint.exe</Application>
            <!-- Windows Live Photo Gallery -->
            <Application>WLXPhotoGallery.exe</Application>

          </ExcludeList>
          <IncludeList></IncludeList>
        </ApplicationUnderTest>
      </DefaultConfiguration>
    </DataCollector>
  </DataCollectorConfiguration>
</configuration>
