<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataCollectorConfiguration" type="Microsoft.VisualStudio.TestTools.Execution.DataCollectorConfigurationSection, Microsoft.VisualStudio.QualityTools.ExecutionCommon, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a "/>
  </configSections>
  <DataCollectorConfiguration xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
    <DataCollector typeUri="datacollector://Microsoft/NetworkEmulation/1.0">
      <DefaultConfiguration>
      </DefaultConfiguration>
    </DataCollector>
  </DataCollectorConfiguration>
  <FilterRules>
    <!--
      filterType = { source, destination, both }
      <Exclude filterType="" sourceIpAddress="" sourcePort="" destIpAddress="" destPort="" />
     -->
    <!-- Add An Exception for Remote Desktop -->
    <Exclude filterType="destination" destIpAddress="255.255.255.255" destPort="3389" />
    <Exclude filterType="destination" destIpAddress="FFFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF" destPort="3389" />
  </FilterRules>
</configuration>