<?xml version ="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
  
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
           <probing privatePath="PublicAssemblies;PrivateAssemblies;PrivateAssemblies\TeamLab;PrivateAssemblies\TeamTest;"/>
        </assemblyBinding>
    </runtime>

  <appSettings>
    <!-- Environment state auto refresh timeout (in milliseconds) -->
    <add key="EnvironmentStateAutoRefreshTimeout" value="60000"/>

    <!-- Environment rig status auto refresh timeout (in milliseconds) -->
    <add key="EnvironmentRigStatusAutoRefreshTimeout" value="45000"/>

    <!-- Duration of environment rig status auto refresh timeout  -after that rig auto refresh will be stopped (in milliseconds) -->
    <add key="EnvironmentRigStatusAutoRefreshDuration" value="600000"/>

    <!-- Environment State(if in transition) auto refresh timeout (in milliseconds) -->
    <add key="EnvironmentStateTaskPendingAutoRefreshTimeout" value="15000"/>

    <!-- Environment checkpoint auto refresh timeout (in milliseconds) -->
    <add key="EnvironmentCheckpointRefreshTimeout" value="0"/>

    <!-- Idle timeout(if the system is idle, the auto-refresh will be stopped) (in minutes) -->
    <add key="LEViewerIdleTimeout" value="20"/>

  </appSettings>
</configuration>
