<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <!-- This loadFromRemoteSources enables the controller to load assemblies from the network share. -->
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PublicAssemblies;PrivateAssemblies;PrivateAssemblies\TeamLab;PrivateAssemblies\TeamTest;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Begin : Application settings for MTR -->

    <!-- Begin : Background Recorder Settings -->
    <!-- HoverKey to use. -->
    <add key="HoverKeyModifier" value="Control, Shift"/>
    <add key="HoverKey" value="R"/>

    <!--Use this to enable/disable recording of implicithovers.-->
    <add key="RecordImplicitHover" value="true"/>

    <!-- Think time threshold in milliseconds. 
             Think time is not recorded if the time-gap between actions are less than this. -->
    <add key="ThinkTimeThreshold" value="10000"/>

    <!-- Use this to set the maximum level of search hierarchy for WPF controls during recording -->
    <add key="MaxLevelsForItemContainer" value="2"/> 

    <!-- Global hot Keys, all keys with "Windows" as modifier will be treated as hot keys by default -->
    <add key="GlobalHotKeys" value="Control, Escape;
                Alt, Tab;
                Alt, Shift, Tab;"/>

    <!-- Use this to provide a comma separated list of languages (LCIDs) for which IME is enabled 
             and the IME ends composition on pressing the {Enter} key.
             The following four languages for which such Microsoft IMEs exist are included by default.

             Chinese (People's Republic of China) - 2052
             Chinese (Taiwan) - 1028
             Japanese - 1041
             Yi - 1144
         -->
    <add key="IMELanguages" value="2052, 1028, 1041, 1144" />
    <!-- End : Background Recorder Settings -->

    <!-- Begin : Playback Settings -->
    <!-- Use this to set the timeout for waiting for control (in milliseconds). -->
    <add key="WaitForReadyTimeout" value="60000"/>

    <!-- Delay between each key playback (in milliseconds) -->
    <add key="DelayBetweenSendKeys" value="10"/>

    <!-- Use smart match for searching controls -->
    <add key="SmartMatchOptions" value="TopLevelWindow, Control"/>

    <!-- Match the exact UI hierarchy during search -->
    <add key="MatchExactHierarchy" value="false"/>

    <!-- Log folder. Trace logs for background recorder and plyaback are placed in this folder. -->
    <add key="UITestTraceFolder" value="%TEMP%\UITestLogs"/>

    <!-- End : Playback Settings -->

    <!-- Global Pass Test Step Hot Keys-->
    <add key="GlobalPassTestStep" value="Windows, Control, Q"/>

    <!-- Global Fail Test Step Hot Keys-->
    <add key="GlobalFailTestStep" value="Windows, Control, W"/>

    <!-- Global Move To Next Test Step Hot Keys-->
    <add key="GlobalNextTestStep" value="Windows, Control, X"/>

    <!-- Global Move To Previous Test Step Hot Keys-->
    <add key="GlobalPreviousTestStep" value="Windows, Control, Z"/>

    <!-- Global Capture Image Hot Keys-->
    <add key="GlobalCaptureImage" value="Windows, Control, C"/>

    <!-- Settings for annotating the image after capturing -->
    <add key="AnnotateImage" value="false"/>
    <add key="AnnotationTool" value="%SystemRoot%\System32\mspaint.exe"/>
    <add key="AnnotationToolArguments" value="%f"/>

    <!-- End : Application settings for MTR -->

    <!-- Begin: Application settings for bug filing for exploratory testing/Feedback tool -->

    <!-- The number of actions selected by default when a bug or test case is created
         while exploring the app or providing feedback. The number of actions displayed by default are
         four times this number -->
    <add key="DefaultNumberOfActions" value="10"/>

    <!-- End : Application settings for bug filing for exploratory testing/Feedback tool -->

    <!-- Lab settings -->

    <!-- Selected item State auto refresh timeout - Environment/Environment Template activity -->
    <add key="EnvironmentStateAutoRefreshTimeout" value="0"/>

    <!-- Selected item State(if in transition) auto refresh timeout - Environment/Environment Template activity -->
    <add key="EnvironmentStateTaskPendingAutoRefreshTimeout" value="15000"/>

    <!-- Environment list auto refresh timeout - Environment/Environment Template activity -->
    <add key="AllEnvironmentsAutoRefreshTimeout" value="300000"/>

    <!-- Selected item State auto refresh timeout - VM Template activity -->
    <add key="VMTemplateStateAutoRefreshTimeout" value="0"/>

    <!-- Selected item State(if in transition) auto refresh timeout - VM Template activity -->
    <add key="VMTemplateStateTaskPendingAutoRefreshTimeout" value="15000"/>

    <!-- Environment list auto refresh timeout - VM Template activity -->
    <add key="AllVMTemplatesStateAutoRefreshTimeout" value="300000"/>

    <!-- Rig refresh timeout after state changes to running -->
    <add key="EnvironmentRigStatusAutoRefreshTimeout" value="45000"/>

    <!-- How long rig status refresh will continue after state change to running(from stop state) -->
    <add key="EnvironmentRigStatusAutoRefreshDuration" value="600000"/>

    <!-- End Lab settings -->

    <!-- Begin: Test execution settings -->

    <!-- The minimum number of threads allocated to perform actions in parallel on local data collectors. Default is 1. -->
    <add key="MinimumSizeDataCollectorEventThreadPool" value="1"/>

    <!-- The maximum number of threads allocated to perform actions in parallel on local data collectors. Default is 5. -->
    <add key="MaximumSizeDataCollectorEventThreadPool" value="5"/>

    <!-- How long test runner will wait for all local data collectors to initialize.  Default is 60. -->
    <add key="DataCollectorInitializationTimeoutInSeconds" value="60"/>

    <!-- How long test runner will wait for an event raised to all local data collectors to complete.  Default is 300. -->
    <add key="DataCollectorEventTimeoutInSeconds" value="300"/>

    <!-- How long test runner will wait for all local data collectors to dispose.  Default is 60. -->
    <add key="DataCollectorCleanupTimeoutInSeconds" value="60"/>

    <!-- How long test runner will wait for test run operations, such as starting or stopping a test run, to complete.  Default is 60. -->
    <add key="RunOperationTimeoutInSeconds" value="60"/>

    <!-- RemotingTimeoutSeconds: Maximum time a remoting call can last in seconds (default 10 minutes). -->
    <!-- <add key="RemotingTimeoutSeconds" value="600"/> -->

    <!-- EnableTestExecutionEventLogTracing: Errors that occur during execution of tests will be written to the event log. The default is "yes"; override with "no". -->
    <!-- <add key="EnableTestExecutionEventLogTracing" value="no"/> -->

    <!-- How long test runner will wait for response to a command in seconds-->
    <add key="DataCollectorCommandToResponseTimeout" value="10"/>

    <!-- End: Test execution settings -->
    <add key="TestRunnerFolderName" value="ManualTestTempFolder"/>

    <!-- Timeout for synchronous calls to the device, as hh:mm:ss-->
    <add key="ConnectedDeviceOperationTimeout" value="00:00:30"/>

    <!-- Timeout for connection to the device, as hh:mm:ss -->
    <add key="ConnectedDeviceConnectionTimeout" value="00:00:15"/>
    
    <!-- Time to wait before reconnecting in case of network errors, as hh:mm:ss-->
    <add key="ConnectedDeviceReconnectionWaitTime" value="00:00:05"/>

    <!-- Timeout given to ReliableMessaging.InactivityTimeout that detects network disconnects, as hh:mm:ss -->
    <add key="ConnectedDeviceInactivityTimeout" value="00:00:30"/>

    <!-- To trace the web service calls made, set the value to true. -->
    <add key="TestManagement.EnableSoapTracing" value="false" /> 
    <add key="TeamBuild.EnableSoapTracing" value="false" /> 

  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- Trace settings for MTM -->
      <!-- Change the value to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
      <add name="UITestTraceLevel" value="0" />
      <add name="EqtTraceLevel" value="0" />
      <add name="TestManagement" value="0" /> 
      <add name="TeamBuild" value="0" /> 
      <add name="TeamFoundationSoapProxy" value="0" /> 
    </switches>
    <trace autoflush="true"></trace>
  </system.diagnostics>
</configuration>
