<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DataCollectors;DataCollectors\x64;PrivateAssemblies;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x64;PublicAssemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DefaultPort" value="6906"/>
    
    <!-- How long Remote Test Runner will wait for a data collector to initialize.  Default is 10. -->
    <add key="DataCollectorInitializationTimeoutInSeconds" value="10"/>

    <!-- How long Remote Test Runner will wait for an event raised to a data collector to complete.  Default is 10 -->
    <add key="DataCollectorEventTimeoutInSeconds" value="10"/>    

    <!-- How long Remote Test Runner will wait for all local data collectors to dispose.  Default is 10. -->
    <add key="DataCollectorCleanupTimeoutInSeconds" value="10"/>
  
    <!-- Timeout for synchronous calls to the device, as hh:mm:ss-->
    <add key="ConnectedDeviceOperationTimeout" value="00:00:30"/>

    <!-- Timeout for connection to the device, as hh:mm:ss -->
    <add key="ConnectedDeviceConnectionTimeout" value="00:00:15"/>

    <!-- Time to wait before reconnecting in case of network errors, as hh:mm:ss-->
    <add key="ConnectedDeviceReconnectionWaitTime" value="00:00:05"/>

    <!-- Timeout given to ReliableMessaging.InactivityTimeout that detects network disconnects, as hh:mm:ss -->
    <add key="ConnectedDeviceInactivityTimeout" value="00:00:30"/>

    <!-- Bool to indicate whether to show notifications on session start. Default is yes -->
    <add key="ShowToastNotifications" value="yes"/>

    <!-- Time to wait before shutting down the host process in case of inactivity, as hh:mm:ss. 
         Specify a value less than or equal to 00:00:00 for disabling shutdown due to inactivity. -->
    <add key="HostInactivityTimeout" value="00:30:00"/>
    
  </appSettings > 
  
  <system.diagnostics>
    <sources>
      <!-- <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Temp\RemoteManagerHost.svclog"
              traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"
                   />
        </listeners>
      </source>
      --> 
    </sources>
    <switches>
      <!-- Trace settings-->
      <!-- Change the value to change the level of tracing you want.
            You must use integral values for "value".  
            0 ==> off,
            1 ==> error,
            2 ==> warn, 
            3 ==> info,
            4 ==> verbose.
            Note that each value is inclusive of the last.
        -->
      <add name="EqtTraceLevel" value="0" />
    </switches>
    <trace autoflush="true">
        <!--listeners>
          <add name="eqtlistener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\RemoteTestRunner.eqtlog"/>
        </listeners-->
    </trace>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
  </system.serviceModel>
  
</configuration>
