<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="MITA">
			<section name="logging"
               type="MS.Internal.Test.Automation.Logging.LoggingConfigurationHandler, MS.Internal.Test.Automation.Logging"/>
		</sectionGroup>
		<!-- The following section is for the MOTIF Remoting component and can be removed once configuration of the component
         has been implemented in the Context manager. -->
		<sectionGroup name="MOTIF">
			<section name="remoting"
				type="MS.Internal.Test.Automation.Office.Remoting.RemotingConfigurationHandler, MS.Internal.Test.Automation.Office.Remoting"/>
			<section name="runtimeeventlisteners"
				type="MS.Internal.Test.Automation.Office.Runtime.EventManager.RuntimeEventConfigurationHandler, MS.Internal.Test.Automation.Office.Runtime"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MS.Internal.Test.Automation.Expression.Harness.Properties.Settings" 
				type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!--
		Mixed mode assemblies (C++/CLI) will not load into a newer CLR by default. Expression disables this
		so user projects can load when they have mixed mode dependencies that target older frameworks.
	-->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" safemode="true"/>
	</startup>
	<MITA>
		<logging threshold="100">
			<listeners>
				<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.XmlCounterListener, Test.Library.Tools.Logging" asynchronous="false">
					<data>ExpridCounterLog.xml</data>
				</add>
				<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.FailureScreenshotListener, Test.Library.Tools.Logging" asynchronous="false">
					<data>Results.ScreenShot.jpg</data>
				</add>
				<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.StructuredLogListener, Test.Library.Tools.Logging" asynchronous="false">
					<data>ExpridStructuredLog.xml</data>
				</add>

				<!--
			<add type="MS.Internal.Test.Automation.Sparkle.SharedSource.DebugListener.DebugBreakListener, Test.Library.Tools.Logging" asynchronous="false"/>
			<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.ColoredConsoleListener, Test.Library.Tools.Logging" asynchronous="false" />
-->
				<add type="MS.Internal.Test.Automation.Office.Logging.DebugWindowListener, MS.Internal.Test.Automation.Office.Logging" asynchronous="false" />
				<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.AutoAnalysisListener, Test.Library.Tools.Logging" asynchronous="false" >
					<data>ExpridAutoAnalysis.xml</data>
				</add>
				<add type="MS.Internal.Test.Automation.Office.Logging.TextLogListener, MS.Internal.Test.Automation.Office.Logging" asynchronous="false">
					<data>ExpridResults.log</data>
				</add>
				<add type="MS.Internal.Test.Automation.Sparkle.Logging.Listeners.NotificationLogListener, Test.Library.Tools.Logging" asynchronous="false">
					<data>ExpridNotificationLog.xml</data>
				</add>
			</listeners>
		</logging>
	</MITA>
	<MOTIF>
		<remoting>
			<hosts>
				<host protocol="http" port="9000" application="MOTIFRemoting"/>
			</hosts>
		</remoting>
		<runtimeeventlisteners>
			<listeners>
				<add type="MS.Internal.Platform.Test.Runtime.RuntimeEventManager, Microsoft.Dynamo, Version=1.0.0.1, Culture=neutral, PublicKeyToken=1a2c496f4b3bbc64" />
			</listeners>
		</runtimeeventlisteners>
	</MOTIF>
	<applicationSettings>
		<MS.Internal.Test.Automation.Expression.Harness.Properties.Settings>
			<setting name="TestHarnessFolder" serializeAs="String">
				<value>%TestHarnessLocation%</value>
			</setting>
			<setting name="HostExecutableFolder" serializeAs="String">
				<value>%ApplicationUnderTestFolder%</value>
			</setting>
			<setting name="HostExecutable" serializeAs="String">
				<value>Blend.exe</value>
			</setting>
			<setting name="TestSuiteToRun" serializeAs="String">
				<value />
			</setting>
			<setting name="TestSuiteIterationCount" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="HeartbeatFrequency" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="NoLogMessageTimeout" serializeAs="String">
				<value>5</value>
			</setting>
		</MS.Internal.Test.Automation.Expression.Harness.Properties.Settings>
	</applicationSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Test"/>
			<!--
				User linked versions of these assemblies (direct or indirect) will cause issues with Expression.
			-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Interaction" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Extensibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualC" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WPFToolkit" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="3.5.40128.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MS.Internal.Test.Automation.Office.Logging" publicKeyToken="48E046C834625A88" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MS.Internal.Test.Automation.Office.Runtime" publicKeyToken="48E046C834625A88" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MS.Internal.Test.Automation.Office.TestClass" publicKeyToken="48E046C834625A88" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
