<?xml version="1.0" encoding="utf-8"?>
<BackplaneConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServiceManagers>
    <ServiceManager>
      <AssemblyName>Microsoft.VisualStudio.TeamArchitect.SequenceDesigner.DslPackage</AssemblyName>
      <ClassName>Microsoft.VisualStudio.TeamArchitect.SequenceDesigner.ToolAdapter.SequenceServiceManager</ClassName>
    </ServiceManager>
    <ServiceManager>
      <AssemblyName>Microsoft.VisualStudio.TeamArchitect.LogicalClassDesigner.DslPackage</AssemblyName>
      <ClassName>Microsoft.VisualStudio.TeamArchitect.LogicalClassDesigner.ToolAdapter.LogicalClassDesignerServiceManager</ClassName>
    </ServiceManager>
    <ServiceManager>
      <AssemblyName>Microsoft.VisualStudio.TeamArchitect.ModelStore.DslPackage</AssemblyName>
      <ClassName>Microsoft.VisualStudio.TeamArchitect.ModelStore.ToolAdapter.ModelStoreServiceManager</ClassName>
    </ServiceManager>
  </ServiceManagers>
  <CommandManagers>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLifelineCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLifelineCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceFromLogicalClassCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceFromLogicalClassCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalClassFromSequenceDiagramCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalTypeFromSequenceDiagramCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalInterfaceFromSequenceDiagramCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalTypeFromSequenceDiagramCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalMethodFromSequenceDiagramCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLogicalMethodFromSequenceDiagramCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateNewSequenceCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateNewSequenceCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceFromInteractionUseCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceFromInteractionUseCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToSequenceFromInteractionUseCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToSequenceFromInteractionUseCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToSequenceObjectCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToSequenceObjectCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.LinkInteractionUseToSequenceCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.LinkInteractionUseToSequenceCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.MoveMessageToDiagramCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.MoveMessageToDiagramCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ExpandLostMessageToNextLevelCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ExpandLostMessageToNextLevelCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ExpandLostMessageToNextLevelCallbackCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ExpandLostMessageToNextLevelCallbackCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromCodeEditorMethodCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromCodeEditorMethodCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromMessageCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromMessageCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromMessageCallbackCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateSequenceDiagramFromMessageCallbackCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ReverseEngineerMethodCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.ReverseEngineerMethodCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.FetchCallSequenceDataCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.FetchCallSequenceDataCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.RenderReverseEngineeredMethodCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.RenderReverseEngineeredMethodCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToProgressionNodeCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToProgressionNodeCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToCodeCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.NavigateToCodeCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
    <Command>
      <CommandType>
        <AssemblyName>Microsoft.VisualStudio.Uml</AssemblyName>
        <ClassName>Microsoft.VisualStudio.Uml.Commands.CreateLifelineFromComponentCommand</ClassName>
      </CommandType>
      <CommandImplementationType>
        <AssemblyName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands</AssemblyName>
        <ClassName>Microsoft.VisualStudio.TeamArchitect.StructuralDesignersCommands.CreateLifelineFromComponentCommandImplementation</ClassName>
      </CommandImplementationType>
    </Command>
  </CommandManagers>
</BackplaneConfiguration>
