@{
    WebSecurity.RequireAuthenticatedUser();

    // 设置布局页和页标题
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "更改密码";

    bool isValid = true;
    bool isSuccess = false;
    var errorMessage = "";
    var currentPasswordError = "";
    var newPasswordError = "";
    var confirmPasswordError = "";
    var currentPassword = Request["currentPassword"];
    var newPassword = Request["newPassword"];
    var confirmPassword = Request["confirmPassword"];

    if (IsPost) {
        if (currentPassword.IsEmpty()) {
            currentPasswordError = "请输入当前密码。";
            isValid = false;
        }
        if (newPassword.IsEmpty()) {
            newPasswordError = "请输入新密码。";
            isValid = false;
        }
        if (confirmPassword.IsEmpty()) {
            confirmPasswordError = "请确认新密码。";
            isValid = false;
        }
        if (confirmPassword != newPassword) {
            confirmPasswordError = "确认密码和新密码不匹配。";
            isValid = false;
        }

        if (isValid) {
            if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword)) {
                isSuccess = true;
            } else {
                errorMessage = "试图更改密码时出错。 请与站点所有者联系。";
            }
        } else {
            errorMessage = "密码更改失败。 请更正错误并重试。";
        }
    }
}

<form method="post" action="">
    <fieldset>
        <legend>更改密码表单</legend>
        <p>
            请使用此表单更改密码。 您需要输入当前密码。 
            如果您忘记了密码，请单击<a href="@Href("~/Account/ForgotPassword")" title="忘记密码页">此处</a>。
        </p>
        @if (isSuccess) {
            <p class="message success">
                您的密码已更新!
            </p>
        }
        @if (!errorMessage.IsEmpty()) {
            <p class="message error">
                @errorMessage
            </p>
        }
        <ol>
            <li class="current-password">
                <label for="currentPassword">当前密码:</label>
                <input type="password" id="currentPassword" name="currentPassword" title="当前密码" @if(!currentPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!currentPasswordError.IsEmpty()) {
                    <label for="currentPassword" class="validation-error">@currentPasswordError</label>
                }
            </li>
            <li class="new-password">
                <label for="newPassword">新密码:</label> 
                <input type="password" id="newPassword" name="newPassword" title="新密码" @if(!newPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!newPasswordError.IsEmpty()) {
                    <label for="newPassword" class="validation-error">@newPasswordError</label>
                }
            </li>
            <li class="confirm-password">
                <label for="confirmPassword">确认密码:</label> 
                <input type="password" id="confirmPassword" name="confirmPassword" title="确认新密码" @if(!confirmPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!confirmPasswordError.IsEmpty()) {
                    <label for="confirmPassword" class="validation-error">@confirmPasswordError</label>
                }
            </li>
        </ol>
        <p class="form-actions">
            <input type="submit" value="更改密码" title="更改密码" />
        </p>
    </fieldset>
</form>

